@charset "utf-8";

@font-face {
    font-family: 'aloevera';
    src: url(./fontes/Aloevera.ttf);
}

@font-face {
    font-family: 'flames';
    src: url(./fontes/FlamesItalicPersonalUseBoldItalic-rgAWK.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    border-bottom: 0.5px solid rgba(8, 8, 8, 0.747);
    box-shadow: 0 4px 7px;
    background-color: white;
}

.navbar .logo {
    display: flex;
}

.navbar ul {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.navbar .items {
    display: flex;
    margin-left: 800px;
    /* justify-content: center; */
    align-items: center;
}

.caixa1 .fundofestival {
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.caixa1 {
    border-radius: 80px;
    background-color: rgb(243, 229, 211);
    padding: auto 30px auto auto;
    box-shadow: 0px 2px 9px 8px rgb(49, 45, 45);
}

.caixa1 .titulocena {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'aloevera';
}

.caixa1 .cena {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}

.caixa1 .cena .textocena {
    text-align: justify;
    margin-left: 15px;
    font-size: 30px;
    font-family: 'flames';
}

.caixa2 {
    margin-top: 20px;
    border-radius: 80px;
    background-color: rgb(243, 229, 211);
    padding: 0 0 30px 0;
    box-shadow: 0px 2px 9px 8px rgb(49, 45, 45);
}

.caixa2 .titulorep {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'aloevera';
}

.caixa2 .rep {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa2 .rep .textorep {
    text-align: justify;
    margin-right: 15px;
    font-size: 30px;
    font-family: 'flames';
}

.caixa3 {
    border-radius: 80px;
    background-color: rgb(243, 229, 211);
    padding: 0 0 30px 0;
    box-shadow: 0px 2px 9px 8px rgb(49, 45, 45);
    margin-top: 20px;
}

.caixa3 .titulotrappy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'aloevera';
}

.caixa3 .trappy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa3 .trappy .textotrappy {
    text-align: justify;
    margin-right: 15px;
    font-size: 30px;
    font-family: 'flames';
}