@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 4px;
    background-color: white;
}

.navbar .logo {
    display: flex;
}

.navbar ul {
    list-style: none;
    display: flex;
    
}